.dlg-no-close {
    position: absolute;
    top: 11%;
    left: 13%;
    width: 70vw;
}

#source_name {
    margin-top: 5%;
}


/*.search-bar {*/
/*    width: 100%;*/
/*    margin: 5px auto;*/
/*    background-color: gainsboro;*/
/*    padding: 5px 15px;*/
/*}*/


#new {
    width: 5%;
    height: 35px;
    float: right;
    margin-right: 3%;
}

.edit input {
    width: 50%;
    margin: 0 25%;
}

#source_name {
    width: 25%;
}

#source_href {
    width: 50%;
}

#yes, #no {
    width: 10%;
    margin-left: 1%;
}

.url p{
    margin-left: 10%;
}

